<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="support.bymason.kiosk.checkin.test"
    android:sharedUserId="support.bymason.kiosk.checkin.uid">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:requestLegacyExternalStorage="true" />

</manifest>
