rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{uid} {
      match /config {
        match /credentials/esignatures {
          allow read, write: if request.auth.uid == uid;
        }

        match /metadata/{document=*} {
          allow read, write: if request.auth.uid == uid;
        }
      }
    }
  }
}
